# Ignore everything inside Data folder
Data/**
!Data/.gitkeep
!Data/**/*.gitkeep

# Ignore executables
main
main.exe
*.exe

# Ignore build outputs
/bin/

# Ignore object files
*.o
*.obj

# Ignore system junk files
.DS_Store
Thumbs.db

.vscode/*
!.vscode/tasks.json
!Data/Algorithms/*.txt

.code-workspace